/* App style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

/* App style */

/* Greeting styles */
.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Greeting styles */

/* List styles */
.list-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  background-color: slateblue;
  width: 480px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  justify-content: center;
}

.list-container li {
  list-style-type: none;
  color: white;
}
/* list styles */
