.list-container {
  background-color: slateblue;
  width: 480px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  justify-content: center;
}

.list-container li {
  list-style-type: none;
  color: white;
}
